<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Apply</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link href="../static/css/icon.css" rel="stylesheet">
 <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<header>
  <nav class="nav-wraper">
   <div class="container">
    <a href="/index" class="brand-logo"><img src="img/logo.png" alt=""></a>
    </a>    
    <ul class="right hide-on-med-and-down">
     <li><a href="/index">Home</a></li>
     <li><a class="out" href="/logout">Logout</a></li>
     <li><a href="#" class="btn-floating white">
       <i class="material-icons">person</i>
     </a></li>
     <span class="user">{{email}}</span>
    </ul>
   </div>
  </nav>
  <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
            <div class="background">
            </div>
            <a href="#email"><span class="white-text email">{{email}}</span></a>
          </div></li>
    <li><a href="/dashboard">dashboard</a></li>
    <li><a href="#">Apply for Loan</a></li>
    <li><a href="/edit">Edit Profile</a></li>
    <li><a href="/pay">Make Payment</a></li>
    <li><a href="/history">View Loan History</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger">
      <i class="material-icons menu">menu</i>
  </a>
    <div class="row">
     <div class="apply z-depth-4">
        {% extends "layout.html" %}
        {% block body %}
        {% if error %}
      <p class="error red-text"><strong>Error:</strong> {{ error }}
      {% endif %}
        <form action= "/apply", method="POST">
            <h4>Loan Application</h4>
            <div class="error red-text"></div>
            <div class="success green-text"></div>
            <div class="input-field">
             <input type="number" name="amount" class="Amount">
             <label for="Amount">Amount</label>
            </div>
              <select id="tenor" name ="tenor" class="browser-default tenor">
                <option value="" disabled selected>Choose Tenor(Months)</option>
                <option value="4">4months</option>
                <option value="6">6months</option>
                <option value="8">8months</option>
                <option value="12">12months</option>
              </select>
              <input type="submit" class="btn-large" value="Apply">
                 </form>
                </div>
     </div>
<body class="body">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
   $('.sidenav').sidenav()
  })
  </script>
</body>
</html>
{% endblock %}