<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>View Loans</title>
 <link rel="stylesheet" href= https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css>
 <link rel="stylesheet" href=https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link href="../static/css/icon.css" rel="stylesheet">
 <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<header>
  <nav class="nav-wraper">
   <div class="container">
    <a href="index.html" class="brand-logo"><img src="img/logo.png" alt=""></a>
    </a>    
    <ul class="right hide-on-med-and-down">
     <li><a href="/admin">Home</a></li>
     <li><a class="out" href="/logout">Logout</a></li>
     <li><a href="#" class="btn-floating white">
       <i class="material-icons">person</i>
     </a></li>
     <span class="user">Welcome {{email}}</span>
    </ul>
   </div>
  </nav>
  <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
          <div class="background">
          </div>
          <a href="#email"><span class="white-text email">{{email}}</span></a>
        </div></li>
  <li><a href="/apply">Apply for Loan</a></li>
  <li><a href="/edit">Edit Profile</a></li>
  <li><a href="/pay">Make payment</a></li>
  <li><a href="/history">View loan history</a></li>
</ul>
  <div class="content">
  <a href="#" data-target="slide-out" class="sidenav-trigger">
      <i class="material-icons menu">menu</i>
  </a>
  <table id="survey" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th>S/N</th>
              <th>DATE</th>
              <th>DESCRIPTION</th>
              <th>DEBIT</th>
              <th>CREDIT</th>
              <th>BALANCE</th>
          </tr>
        </thead>
      <tbody>
          {%for i in history%}  
          <tr>
              <td>{{loop.index}}</td>
              <td>{{ i["tnxdate"] }}</td>
              <td>{{i["description"]}}</td>
              <td class="red-text">{{"{:,.2f}".format(i["debit"])}}</td>
              <td class="blue-text">{{"{:,.2f}".format(i["credit"])}}</td>
              {%if i["debit"]%}
                <td>-{{"{:,.2f}".format(i["debit"])}}</td>
              {% else %}
                <td>{{"{:,.2f}".format(i["credit"])}}</td>
              {% endif %}
          </tr>
          {% endfor %}
        </tbody>
          <tr>
            <th>TOTAL</th>
            <th></th>
            <th></th>
            <th>{{"{:,.2f}".format(Tdebits)}}</th>
            <th>{{"{:,.2f}".format(Tcredits)}}</th>
            <th>{{"{:,.2f}".format(total)}}</th>
          </tr>
          <tr>
            <th>BALANCE</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{"{:,.2f}".format(total)}}</th>
          </tr> 
      </table>
 </div>
</header>
<body class="bod">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
 $(document).ready(function(){
   $('.sidenav').sidenav()
   $('#survey').DataTable();
  })
</script>
</body>
</html>