<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Quick Credit</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link rel="stylesheet" href="../static/css/index.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body>
 <header>
  <nav class="nav-wraper">
   <div class="container">
      <a href="/index" class="brand-logo"><img src="../static/images/deca credit.png" alt=""></a>
    <a href="#" class="sidenav-trigger" data-target="mobile-links">
      <i class="material-icons">menu</i>
    </a>    
    <ul class="right hide-on-med-and-down">
     <li><a href="#footer">About</a></li>
     <li><a href="#footer">Contact</a></li>
     <li><a href="/register">Sign Up</a></li>
     <li><a href="/login">Login</a></li>
    </ul>
   </div>
  </nav>
  <ul class="sidenav" id="mobile-links">
    <li><a href="#footer">About</a></li>
    <li><a href="#footer">Contact</a></li>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
  <div class="background">
    <h1>WELCOME TO DECA-CREDIT</h1>
    <p>Fast Loan Resquest and Repayment with ATM Cards</p>
    <p>click the button below and get access to unlimited loan amount</p>
    <a href="/register" class=" btn-large modal-trigger">Get Started</a><br>
    </div>
  </div>
 </header>
 <section cl>
 <div>
<div id="footer" class="footer">
  <div class="footer-wrapper">
    <div class="top-img"></div>
    <div class="container">
  
      <div class="footer-mid-part">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="footer-section-one">
              <div class="footer-heading"><h2>Contact Us</h2></div>
   <div class="footer-contact-box" style="font: bold; font-size: large;">
              <div class="footer-contact-icon"><i class="fa fa-map-marker"> <a>2nd Floor Traditions Building,Familoni Street, off Lekki-Epe Express, Lagos, Nigeria.</a></i></div><br>
              <!-- <div class="footer-contact-text">
                <p>Address: 5 new road lekki-ajah, lagos</p>
              </div> -->
              <div class="clr"></div>
            </div>  
             <div class="footer-contact-box" style="font: bold; font-size: large;">
              <div class="footer-contact-icon"><i class="fa fa-phone"><a>+2348193847636</a></i></div><br>
              <!-- <div class="footer-contact-text">
                <p></p>
              </div>
              <div class="clr"></div> -->
            </div>
             <div class="footer-contact-box" style="font: bold; font-size: large;">
              <div class="footer-contact-icon"><i class="fa fa-fax"> <a>+2347894736274</a></i></div><br>
              <!-- <div class="footer-contact-text">
                <p></p>
              </div>
              <div class="clr"></div> -->
            </div>
             <div class="footer-contact-box" style="font: bold; font-size: large;">
              <div class="footer-contact-icon"><i class="fa fa-globe"> <a href="#">http://www.decacredit.com</a></i></div>
              <!-- <div class="footer-contact-text">
                 <p></p>
              </div>
              <div class="clr"></div> -->
            </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="footer-section-two">
              <div class="footer-heading"><h2>Quick Link</h2></div>
              <div class="footer-link" style="font: bold; font-size: medium;">
                <ul>
                  <li><a href="/login">Login</a></li>
                  <br>
                   <li><a href="/register">Signup</a></li>                        
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="footer-section-two">
              <div class="footer-heading"><h2>Our Services</h2></div>
               <div class="footer-link" style="font: bold; font-size: medium;">
                <ul>
                  <li><a href="#">Conventional Loans</a></li>
                   <li><a href="#">VA loans</a></li>
                    <li><a href="#">fixed-rate loans</a></li>
                     <li><a href="#">Adjustable-rate Loans</a></li>
                      <li><a href="#">Jumbo loans</a></li>
                     

                         
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="footer-section-three">
              <div class="footer-heading"><h2>Get in touch</h2></div>
               <div class="footer-form">

                <form method="POST" action="/contact">
                  <div class="footer-form-box">
                    <input type="text" class="footer-form-style" name="mname" placeholder="Full Name">
                  </div>
                  <div class="footer-form-box">
                    <input type="text" class="footer-form-style"  name="memail" placeholder="Email">
                  </div>
                  <div class="footer-form-box">
                    <input type="text" class="footer-form-style"  name="mphone" placeholder="Phone Number">
                  </div>
                  <div class="footer-form-box">
                     <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message" placeholder="Enter Message"></textarea>
                   <!-- <input type="submit" class="footer-form-submit-style" value="SUBMIT" style="background-color: blue;"> -->
                    <button type="submit" class="btn btn-primary" name="mbutton">SUBMIT</button>
                  </div>
                </form>

               </div>
  
            </div>
          </div>
        </div>
      </div>
   <div class="footer-bottom" style="text-align: center;">
     <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
         <p>Copyright 2019 - All Rights Reserved. Privacy Policy | Site Terms & Disclosures.</p>
       </div>
     </div>
   </div>
    </div>
  </div>
  </div>
</section>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script>
    $(document).ready(function(){
     $('.sidenav').sidenav()
     $('.modal').modal();
    })
    </script>
 </body>
</html>