<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Signup</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link href="../static/css/icon.css" rel="stylesheet">
 <link rel="stylesheet" href="../static/css/sign.css">
</head>
<body>
    <nav class="nav-wraper">
        <div class="container">
         <a href="index.html" class="brand-logo"><img class="logog" src="img/logo.png" alt=""></a>
         </div>
         </nav>
 <div class="container">
  <div class="row">
   <div class="background z-depth-4">
      <form>
          <h3>Sign Up</h3>
          <div class="error red-text"></div>
           <div class="input-field">
            <i class="material-icons prefix">email</i>
             <input type="email" name="email" id="email" class="validate" required="" aria-required="true">
             <label for="email">Email</label>
             <span class="helper-text" data-error="please enter a valid email" data-success="right"></span>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">vpn_key</i>
              <input type="password" name="password" id="password" class="validate" required="" aria-required="true">
              <label for="password">password</label>
             </div>
             <div class="input-field">
                <i class="material-icons prefix">vpn_key</i>
                <input type="password" name="password" id="password" class="validate" required="" aria-required="true">
                <label for="password">Confirm password</label>
               </div>
              <input type="submit" class="btn-large" value="Signup">
              <p>already have an account? <a href="signin.html">Signin</a> </p>
               </form>
              </div>
   </div>
  </div>
 </div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>